<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179953566723-6p85tjfnc3s9ekmphe51pqlkkua0r4qr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179953566723-6p85tjfnc3s9ekmphe51pqlkkua0r4qr</string>
	<key>API_KEY</key>
	<string>AIzaSyCneNqHpGjdwbeHTk8UDknnFRQkR_ntRTE</string>
	<key>GCM_SENDER_ID</key>
	<string>179953566723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yamaShopping</string>
	<key>PROJECT_ID</key>
	<string>yama-98f64</string>
	<key>STORAGE_BUCKET</key>
	<string>yama-98f64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179953566723:ios:5cf9bbd2014e350dae3a36</string>
	<key>DATABASE_URL</key>
	<string>https://yama-98f64-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>